<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Eliminar Usuario</h1>
        <p>¿Estás seguro de que deseas eliminar este usuario?</p>
        <form action="{{ url_for('usuario.eliminar_usuario', id_usuario=usuario.id) }}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn-usuario">Eliminar</button>
        </form>
        <a href="{{ url_for('menu_usuario') }}" class="btn-usuario">Cancelar</a>
    </div>
</body>
</html>
