<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Renta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Eliminar Renta</h1>
        <p>¿Estás seguro de que deseas eliminar esta renta?</p>
        <form action="{{ url_for('renta.eliminar_renta', id_renta=renta.id) }}" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn-renta">Eliminar</button>
        </form>
        <a href="{{ url_for('menu_renta') }}" class="btn-renta">Cancelar</a>
    </div>
</body>
</html>
