<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Renta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Menú de Renta</h1>
        <form action="\ver_rentas" method="get">
            <button type="submit" class="btn-renta">Ver Rentas</button>
        </form>
        <form action="\agregar_renta" method="get">
            <button type="submit" class="btn-renta">Agregar Renta</button>
        </form>
        <form action="\editar_renta" method="get">
            <button type="submit" class="btn-renta">Editar Renta</button>
        </form>
        <form action="\eliminar_renta" method="get">
            <button type="submit" class="btn-renta">Eliminar Renta</button>
        </form>
    </div>
</body>
</html>
